.menuContainer {
    height: 100%;
    width: 100%;
    background-color:  rgb(227, 241, 234);
    border-left: 2px solid gray;
}

.menuHeader {
    width: 100%;
    background-color: rgb(191, 215, 200);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 7px;
}

.menuContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
}

.menuContent > .placeholder {
    width: 250px;
    vertical-align: center;
    margin: auto;
}