.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(197, 225, 197);
}

.AppName {
    font-family: 'Berkshire Swash';
    text-align: center;
    font-size: 60px;
    border: none;
    background-color: transparent;
    margin:auto;
    color: rgb(183, 36, 36);
}

.progress {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.AppContent {
    display: flex;
    flex-direction: row;
    height: 98vh;
    max-width: 100%;
}

.AppContent > .workbenchEl {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
}

.AppContent > .restaurantEl {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
}




/* INSTRUCTIONS and CLEAR*/

.actionsContainer {
    width: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}

.cancel, .instructions {
    border: none;
    background-color: transparent;
}

.cancel:hover, .instructions:hover {
    cursor: pointer;
    position: relative;
    z-index: 6;
}

.cancel > img, .instructions > img {
    width: 20px;
    height: 20px;
}

.cancel > img:hover, .instructions:hover {
    filter: drop-shadow(1px 1px 0 rgb(165, 164, 164)) 
    drop-shadow(-1px -1px 0 rgb(165, 164, 164))
    drop-shadow(1px -1px 0 rgb(165, 164, 164))
    drop-shadow(-1px 1px 0 rgb(165, 164, 164));
}

.instructions:hover > .instructionsList {
    display: flex;
    flex-direction: column;


    background: rgb(227, 241, 234);
    border: 1px solid white;
    width: 180px;
    border-radius: 5px;
    padding-top: 5px;
    position: absolute;
    z-index: 6;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: normal;
}

.instructionsList {
    display: none;
}

.instructionsList li {
    position:relative;
    z-index: 4;
    border-bottom: 1px solid #FFF;

    padding: 0 5px 10px 5px;
    margin-top: 3px;
    list-style: none;

    display:flex;
    justify-content: center;
    align-items: center;
}

.instructionText {
    margin-left: 10px;
    vertical-align: top;
}

.bullet {
    width: 25px;
    height: 25px;
}

.instructionsList li:last-of-type {
    border-bottom: none;
}

