.workbench {
    flex-grow: 100;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: rgb(227, 241, 234);
    width: 1000px;
    height: 100%;
    overflow-y: auto;


    position: relative;
    z-index: 0;
}

.workbenchHeader {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 7px;
    background-color:  rgb(191, 215, 200);
}

.kitchen {
    position: absolute;
    top: 5%;
    width: 1000px;
    height: 562px;
    background-image: url('./Kitchen.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.kitchen > .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    z-index: 4;
    position: absolute;
    right: 5%;
    bottom: 43%;
    font-weight: bold;
    color: rgb(141, 137, 137);
}

.placeholderForm {
    width: 200px;
    height: 200px;
    border: 3px dashed rgb(188, 186, 186);
    z-index: 1;
    border-radius: 5px;

}

.workbenchContent {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: 43%;
    z-index: 3;
    border: 1px solid red;
}

.workbenchContent > .placeholder {
    z-index: 4;
    position: absolute;
    bottom: 100%;
    font-weight: bold;
    color: rgb(141, 137, 137);
    width: 100px;
    text-align: center;
}




.utensilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;

    position: relative;
    border: 1px solid red;
    z-index: 5;
}

.utensilContainer > img {
    margin-top: 5px;
    width: 90px;
    height: 75px;
}

.utensilName {
    padding: 2px;
}

.ingredientContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    background-color: transp;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.ingredientContainer > img {
    width: 90px;
    height: 75px;
    background-color: transparent;
}

.ingredientName {
    padding: 2px;
}

.btnContainer {
    height: 80%;
    display: flex;
}

.ingredientName {
    font-weight: bold;
}

.utensilName {
    font-weight: bold;
}

.workbenchContent> .utensil {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0%;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
}

.workbenchContent> .utensil:hover {
    border: none;
    box-shadow: none;
    filter: drop-shadow(1px 1px 0 rgb(165, 164, 164)) 
    drop-shadow(-1px -1px 0 rgb(165, 164, 164))
    drop-shadow(1px -1px 0 rgb(165, 164, 164))
    drop-shadow(-1px 1px 0 rgb(165, 164, 164));
}

.workbenchContent > .utensil > .utensilName {
    font-size: 0px;
}

.ingredientsContainer {
    width: 95%;
    height:25%;
    position: absolute;
    top: 0%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredientImgContainer {
    width:30%;
    height:100%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    display: flex;
}

.ingredientImg {
    width: 90%;
    height: 90%;
    margin: auto;
    vertical-align: center;
    border-radius: 50%;
}


/* BETA */

.recipesCupboard {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 310px;
    height: 319px;
    position: absolute;
    z-index: 2;
}

.recipesCupboard > .recipes {
    position: absolute;
    left: 14%;
    height: 100%;
}

.recipesCupboard > .recipes > .recipesList {
    height: 85%;
}