.workbench {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 170px;
    margin: auto;
    background-color: rgb(227, 241, 234);
}

.workbenchHeader {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 7px;
    background-color:  rgb(191, 215, 200);
}

.workbench > .placeholder {
    vertical-align: center;
    margin-top: 8%;
}

.workbenchContent {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ingredientContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}

.ingredientContainer > img {
    width: 90px;
    height: 75px;
}

.ingredientName {
    padding: 2px;
}

.btnContainer {
    height: 80%;
    display: flex;
}

.combineBtn {
    display: block;
    width: 70px;
    height: 25px;
    font-size: 14px;
    margin-top: 20px;
    margin: auto;
}

.combineBtn:hover {
    cursor: pointer;
    background-color: rgb(238, 245, 227);
}

.ingredientName {
    font-weight: bold;
}