.ingredient {
    width: 105px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 6px;
    background-color: white;
    margin: 20px;
    padding: 7px;
}

.ingImgContainer {
    margin-bottom: 1px;
    vertical-align: bottom;
    width: 70px;
    height: 70px;
}

.ingredient:hover {
    cursor: pointer;
    border: 3px solid   rgb(161, 215, 182);
    box-shadow: 10px 5px 5px gray;
}

img {
    width: 100%;
    height: 100%;
}

