.ingredient {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    border-radius: 6px;
    background-color: white;
    margin: 20px;
    padding: 7px;
}

.ingredientImg {
    margin-top: 10px;
    width: 100px;
    height: 120px;
}

.ingredient:hover {
    cursor: pointer;
    border: 3px solid   rgb(161, 215, 182);
    box-shadow: 10px 5px 5px gray;
}

img {
    width: 134px;
    height: 92px;
}

